.input-group.md-form.form-sm.form-1 input {
    border: 1px solid orange;
    border-width: 0.25rem;
    border-left-width: 0rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background: white;
  }

.input-group.md-form.form-sm.form-1 input:hover {
    border: 1px solid orange;
    border-width: 0.25rem;
    border-left-width: 0rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

body, html {
    height: 100%;
 }
    
.home-bg {
    background-color:  #1c1c1c;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background: url('/src//images/logo-4.png');
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    width: 115%;
    padding-top: 12%;
    padding-left: 28%;
  }